causalgraphicalmodels==0.0.4
colorama==0.4.6
dill==0.3.6
gower==0.0.5
mpi4py==3.1.4
numpy==1.19.4
pandas==1.1.4
pymoo==0.5.0
PyYAML==6.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
snakeviz==2.2.0
tensorboard==1.14.0
tensorflow==1.14.0
torch==1.7.0
torchvision==0.8.1
tqdm==4.64.1
zeus-mcmc==2.5.4
